<%= render "shared/profile-tabs" %>

<div class="training-container">

<% if current_profile.trainer.nil? && current_profile.request.nil? %>
<p>You are not a trainer yet!</p>
<%= link_to "Become a trainer", new_request_path, class: "navbar-wagon-button" %>
<% elsif !current_profile.request.nil? %>
<p>Your request to become a trainer is being reviewed</p>
<% else %>
<div class="create-training text-center">
<%= link_to "Create a new training!", new_training_path, class: "navbar-wagon-button text-center btn" %>
</div>
<div class="container">
  <div class="row">
  <% @trainings.each do |training| %>
    <div class="col-xs-12 col-sm-4">
     <%= training.title %>
     <%= training.description %>
     <%= link_to "details", training_path(training) %>
     <% end %>
   </div>
 </div>
</div>
<% end %>
</div>




