
<div class="training-banner">
  <div class="training-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @training.profile.trainer.banner_picture, height: 300, width: 400,crop: :fill %>')">
    <h1><%= @training.title %></h1>
  </div>
</div>

<div class="wrapper-training">

<%= render 'trainings/training-show' %>

<div class="training-booking">
  <div class="sessions">
    <p>Training's sessions for <%= @training.duration %> H</p>
  <% previous = @sessions.first %>
  <% @sessions.each do |session| %>

  <% if session.date.strftime("%Y-%m-%d") != previous.date.strftime("%Y-%m-%d") or @sessions.first == session %>
    <h4>
      <%= session.date.strftime("%a, %e %b %Y") %>
    </h4>
    <p>Select a time:</p>
  <% end %>

  <div>

    <%= link_to "#{session.time.strftime("at %H:%M")}", participants_path(session_id: session), class: "blue-button" %>
  </div>

    <% previous = session %>
  <% end %>

  </div>
</div>
</div>

<!-- action=url method=post/get/patch
forms bunch of input
submit -> build a hash, send it to the url


simple_form_for object.analyze = kind of object, then it knows what controller to go to:
@booking, @session,

then it knows to go to a nested route.

booking class -> booking controller

if object is empty -> create
if data -> update  -->
