<div class="training-tabs">
  <% ["Training", "Trainer", "Reviews", "Location"].each_with_index do |tab_name, i| %>
    <div class="training-tab" data-target=".<%= tab_name %>-tab">
      <%= tab_name %>
    </div>
    <div class="<%= tab_name %>-tab training-tab-content <%= 'hidden' if i >= 1 %>">
      <%= render partial: "trainings/shared/#{tab_name.downcase}" %>
    </div>
  <% end %>
</div>




