<% if @sessions.empty? && params[:search_query][:sport] == "All Sports" %>
  <h1> We're sorry there is no training available on this date </h1>
  <p> See our next trainings </p>
<% else %>
  <h1> We're sorry there is no training available for <%= params[:search_query][:participants] %> athlete(s) in <%= params[:search_query][:sport] %> on that date </h1>
  <%= link_to 'All Trainings for that day', results_path(search_query: { sport: "All Sports", date: params[:search_query][:date], participants: params[:search_query][:participants] }) %>
<% end %>

  <h1> Find our next <%= params[:search_query][:sport] %> training </h1>
  <%= link_to 'Next trainings', results_path(search_query: { sport: params[:search_query][:sport] , date: params[:search_query][:date], participants: params[:search_query][:participants], next: true }) %>





