<div class="result-card result-card-<%= training.id %>" >
  <div class="photo-result-card col-md-6" style="background-image: url('<%= cl_image_path training.profile.trainer.banner_picture %>')">
  </div>
  <div class="description-result-card col-md-6">
    <div>
      <ul class="list-inline title-card">
        <li><h3><strong><%=training.title%></strong></h3></li>
        <li><h5>by <%=training.profile.first_name + " " + training.profile.last_name%></h5></li>
        <div class="toright">
          <li><p><i class="fa fa-calendar-o" style="padding-right: 5px;" aria-hidden="true"></i> <%= training.sessions.first.date %></i> at <%= training.sessions.first.time.strftime("%I:%M%p")%></p></li>
          <li><p><i class="fa fa-clock-o" aria-hidden="true"></i>  <%=training.duration %> minutes </p></li>
          <li><p><i class="fa fa-map-marker" aria-hidden="true"></i>  <%=training.address %></p></li>
          <li><p>€ <%= training.price %></p></li>
        </div>
      </ul>
    </div>

    <div>
      <div class="pull-right">
        <%= link_to "Book", training_path(training), class: "book-button", style: 'margin-left: 0;' %>
      </div>
    </div>
  </div>
</div>




