<%= render 'layouts/banner' %>


<div class="tabs">
  <% @trainings.keys.each do |sport| %>
    <a class="tab active" data-target="#<%= sport.name %>">
        <%= sport.name %>
    </a>
  <% end %>
</div>


<div class="container text-center">
  <% @trainings.values.each do |array_training| %>
    <% array_training.each do |training|  %>
      <div class="tab-content" id="<%= training.sport.name %>">
        <p><%= training.title %></p>
      </div>
    <% end %>
  <% end %>
</div>


