<%= render 'layouts/banner' %>


<section class="story-container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3><span class="fa fa-heartbeat"></span><br>Your favorite sports<p>We offer different sports.<br>Pick a sport you like.</p></h3>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3><span class="fa fa-check-square-o"></span><br>Quality trainings<p>Choose between different<br>trainings in your neighbourhood.</p></h3>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3><span class="fa fa-credit-card"></span><br>Save and easy<p>Confirm your booking and<br>pay safely online.</p></h3>
    </div>
  </div>
</section>


<div class="tab-container">
  <div class="row">
    <div class="col-md-1"></div>
    <% @sports.each do |sport| %>

    <div id="tab-sport" class="tab-sport tab col-md-2 text-center" data-target=".<%=sport.name %>-tab">
      <div class = "relative" >
        <%= image_tag "sports/#{sport.name.downcase}.jpeg", class: "tab-pictures"  %>
      </div>
      <div class="tab-name">
        <%= sport.name %>
      </div>
    </div>
    <%end %>
  </div>
</div>

<div class="overview-container">
  <% @sports.each_with_index do |sport, i| %>
  <div class="<%= sport.name %>-tab tab-content <%= 'hidden' if i >= 1 %>">
    <div class="col-sm-6">
      <% sport.trainings.each do |training|  %>

      <div class="card-training relative">
        <div class="card-training-description">
          <div class="title-card">
                      <div class="flex-around">

            <h3><%=training.title%></h3>
            <div class="flex-right">
           <p><i class="fa fa-calendar-o" aria-hidden="true"></i> <%=training.sessions.first.date.strftime("%a, %e %b %Y") %></p>
           <p><%= training.sessions.first.time.strftime("at %H:%M")%></p>
           <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%=training.duration %> minutes </p>
            </div>
            </div>
            <h4>Description: <%=training.description %></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=training.address %></p>
            <p><i class="fa fa-eur" aria-hidden="true"></i><%= training.price %>,- </p></i>
          </div>
          <%= link_to "Book", training_path(training), class: "buy-button" %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-sm-5 quote">
      <% if sport.name == "Yoga" %>
      "A photographer gets people to pose for him. A yoga instructor gets people to pose for themselves."
      <br><h3>T. Guillemets</h3>

      <% end %>
      <% if sport.name == "Dancing" %>
      “Obstacles don’t have to stop you. If you run into a wall, don’t turn around and give up. Figure out how to climb it, go through it, or work around it.”
      <br><h3>Michael Jordan</h3>
      <% end %>

      <% if sport.name == "Bootcamp" %>
      “You are never really playing an opponent. You are playing yourself, your own highest standards, and when you reach your limits, that is real joy.”
      <br><h3>Homer Rice</h3>
      <% end %>

      <% if sport.name == "Running" %>
      “You can motivate by fear, and you can motivate by reward. But both those methods are only temporary. The only lasting thing is self motivation.”
      <br><h3>Muhammad Ali</h3>
      <% end %>

      <% if sport.name == "Boxing" %>
      “I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion.”
      <br><h3>Muhammad Ali</h3>
      <% end %>
    </div>
  </div>
  <% end %>
</div>










