<%= render 'layouts/banner' %>
<div class="container-icons">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="name-card">
        <div <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <p> Choose your sport </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="name-card">
       <div <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p> Book your training whenever wherever </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="name-card">
      <div <i class="fa fa-credit-card" aria-hidden="true"></i>
       <p> Pay easily online</p>
     </div>
   </div>
 </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <% @sports.each do |sport| %>
    <div class="col-xs-12 col-sm-2">
      <a class="tab active" data-target=".<%= sport.name %>-tab" style="display: block;">
        <%= sport.name %>
      </a>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @sports.each_with_index do |sport, i| %>
          <div class="<%= sport.name %>-tab tab-content <%= 'hidden' if i >= 1 %>">
            <% sport.trainings.cheap.each do |training|  %>
            <p><%= training.title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <div class="col-xs-12 col-sm-6">
            <% @sports.each_with_index do |sport, i|  %>
      <div class="<%= sport.name %>-tab tab-content <%= 'hidden' if i >= 1 %>" >
              <p><%= sport.name %></p>
      </div>
            <% end %>
    </div>
  </div>
</div>




