<%= render 'layouts/banner' %>

<div class="container-icons">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="name-card">
        <div <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <p> Choose your sport </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
    <div class="name-card">
       <div <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p> Book your training whenever wherever </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="name-card">
      <div <i class="fa fa-credit-card" aria-hidden="true"></i>
       <p> Pay easily online</p>
     </div>
   </div>
 </div>
</div>
</div>

<div class="tabs">
  <% @trainings.keys.each do |sport| %>
  <a class="tab active" data-target="#<%= sport.name %>">
    <%= sport.name %>
  </a>
  <% end %>
</div>

<div class="container text-center">
  <% @trainings.values.each do |array_training| %>
  <% array_training.each do |training|  %>
  <div class="tab-content" id="<%= training.sport.name %>">
    <p><%= training.title %></p>
  </div>
  <% end %>
  <% end %>
</div>


