<!-- <h1><%= @training.profile.first_name %> <%= @training.profile.last_name %></h1>
<p><%= @training.profile.trainer.bio %></p>

-->

<div class="profile-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="profile-text">
        <div id="trainer-name" class="text-center">
          <h1><%= @training.profile.first_name + " " + @training.profile.last_name %></h1>
        </div>
        <h4 id="trainer-tagline"><%= @training.profile.trainer.description %></h4>
        <p id="trainer-desription"><%= @training.profile.trainer.bio %></p>
      </div>
    </div>
    <div class="col-sm-4">
     <img src="<%= cl_image_path @training.profile.avatar_picture %>" class="avatar-xl" id="profile-photo-trainer">
   </div>
 </div>
</div>



