<div class="banner">

  <div class="home-video-container">
    <%= video_tag '7734613.mp4', playsinline: true, autoplay: true, muted: true, loop: true, poster: 'Crocodile.jpg', id: 'bgvid' %>
  </div>

  <div class="home-title-container">
    <div class="home-title">
     Soplex
    </div>
    <div class="home-sub-title">
      Train Whenever, Wherever
    </div>
  </div>





  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="form-inline search-field-banner ">
            <%= simple_form_for :search_query, url: results_path do |f| %>
            <div class="form-inputs">
              <%= f.input :sport, autofocus: true, collection: @sports, prompt: "Pick a sport", label: false, class: "black-button" %>
              <%= f.input :date, as: :date_picker, placeholder: "Pick a date", label: false %>
              <%= f.button :submit, "Search", class: "black-button form-inline" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


</div>

