<div class="footer">
  <div class="social-buttons">
    <ul class="social-button">
      <li><%= link_to '<i class="fa fa-facebook fa-lg"></i>'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-twitter fa-lg"></i>'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-instagram fa-lg"></i>'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-pinterest fa-lg"></i>'.html_safe, root_path %></li>
    </ul>
  </div>
  <div>
    <ul class="footer-text">
      <li> <%= link_to "Terms and Conditions" %></li>
      <li> <%= link_to "About ARTSTARTS" %></li>
      <li> <%= link_to "Privacy" %></li>
      <li> <%= link_to "Disclaimer" %></li>
      <li> &copy 2017</li>
    </ul>
  </div>
</div>



